VITE_API_BASE=https://api.example.com
VITE_DYNAMSOFT_LICENSE_KEY=your-dynamsoft-license
VITE_MAPBOX_ACCESS_TOKEN=your-mapbox-access-token

VITE_ROLE_CUSTOMER_USER_01="customer-login|Customer Name|customer-password"
VITE_ROLE_LSP_USER_01="lsp-login|LSP Name|lsp-password"
VITE_ROLE_TRANSPORT_MANAGER_USER_01="tm-login|Transport Manager Name|tm-password"
