VITE_API_BASE=https://api.example.com
VITE_DYNAMSOFT_LICENSE_KEY=your-dynamsoft-license
VITE_MAPBOX_ACCESS_TOKEN=your-mapbox-access-token

VITE_FIND_SG_LPN_URL=https://apigw-cn-south02.huawei.com/api/app_000000035599/findSgLpnInfos
VITE_FIND_SG_LPN_HW_ID=com.huawei.ipaas.roma.data.subject
VITE_FIND_SG_LPN_APPKEY=your-find-sg-lpn-app-key

VITE_ROLE_CUSTOMER_USER_01="customer-login|Customer Name|customer-password"
VITE_ROLE_LSP_USER_01="lsp-login|LSP Name|lsp-password"
VITE_ROLE_TRANSPORT_MANAGER_USER_01="tm-login|Transport Manager Name|tm-password"
